@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

body {
  background-color: #0c2a99;
}

.diver {
    height: 100px;
  width: 50px;
  bottom: 0;
  position: absolute;
  transition: height 4s;
}

#diver1 {
  background-color: #FF0000;
  right: 50%;
}

#diver2 {
  background-color: darkgreen;
}

#shark1 {
  background-color: transparent;
  top: 0;
  position: absolute;
  height: 110px;
  width: 140px;
  left: 700px;

}

@media (max-width: 600px) {
  .shark, .diver {
    width: 30px !important;
    height: 40;
  }
}

#shark2 {
  top: 40%;
  position: absolute;
  height: 60px;
  width: 100px;
  right: 800px;
}

#shark3 {
  top: 70%;
  position: absolute;
  height: 110px;
  width: 150px;
  left: 600px;
}

.treasure {
  height: 40px;
  width: 40px;
  background-color: rgb(244, 188, 66);
}

#gameOver, #victory {
  font-size: 300px;
  position: absolute;
}

#gameOver  {
  background-color: yellow;
}

#victory {
  background-color: rgb(226, 146, 66);
  z-index: 1;
}

#gameOverButton, #victoryButton {
  position: absolute;
  left: 40%;
  bottom: 42%;
  background-color:#44c767;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border:6px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:25px;
  padding:25px 50px;
  text-decoration:none;
  text-shadow:0px 1px 50px #2f6627;
}
#gameOverButton:hover, #victoryButton:hover {
  background-color:#5cbf2a;
}
