body {
  background-color: #0000FF;

}

.diver {
  background-color:#FF0000;
  height:100px;
  width:75px;
  bottom: 0;
  position: absolute;
}

.shark {
  background-color: #008800;
  top: 0;
  position: absolute;
  height: 60px;
  width: 120px;
  background-position: right;
}

