@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}



body {
  background-color: #0c2a99;
}

.diver {
  background-color: #FF0000;
  height: 100px;
  width: 50px;
  bottom: 0;
  position: absolute;
  transition: height 4s;
}

.diver:hover{
  height: 125px;
}


#shark1 {
  background-color: transparent;
  top: 0;
  position: absolute;
  height: 110px;
  width: 140px;
  left: 700px;

}

@media (max-width: 600px) {
  .shark, .diver {
    width: 30px !important;
    height: 40;
  }
}

#shark2 {
  top: 40%;
  position: absolute;
  height: 60px;
  width: 100px;
  right: 800px;
}

#shark3 {
  top: 70%;
  position: absolute;
  height: 110px;
  width: 150px;
  left: 600px;
}

.treasure {
  height: 40px;
  width: 40px;
  background-color: rgb(244, 188, 66);
}

.gameover  {
  font-size: 300px;
  background-color: yellow;
  position: absolute;

}

.victory
{
  font-size: 300px;
  background-color: rgb(226, 146, 66);
  position: absolute;
  z-index: 1;
}

.play-button {
  background-color: red;
}
